<!doctype HTML>
<html lang = "en-US">

<head>
</head>
<body></body>
<a href="{{url_for('upload_file')}}">upload images here</a>
<a href="youtube.com/pewdiepie">sub2pewds</a>
<br>
If you don't click the link above, I will send a group of 9 year olds to your location to murder you in the most painful way possible. They will look at you, slicing away at your limbs, genitals, organs and whatever else, with a smile. A smile in knowing that you deserve this. A smile knowing that this is the fate of everyone who doesn't subscribe to PewDiePie. And for those who are subscribed to T-Series, you have a whole other thing coming. You will be kidnapped, locked up in a prison and tortured for the rest of your miserable life. You will learn a whole new meaning of the word 'pain'. You will be forced to unsubscribe T-Series, and to subscribe to PewDiePie. This is not a threat, it is a promise. Don't think you can escape the group of 9 year olds. They will find you, no matter where you hide. If this hasn't convinced you to subscribe to PewDiePie, it is your own fault for the situation you are soon be in.
<br>
<script src='static/index.js'></script>
</html>
