<!doctype HTML>
<head>
	<link rel = "stylesheet" type="text/css" href = "static/css/style.css">
	<title>Upload new File</title>
</head>
<h1>Upload new presentation</h1>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
<table style="width:100%">
  <tr>
    <th>Presentations available</th>
  </tr>
  {% for item in preslist %}
	<tr>
                <td><a href = "/upload/presentations{{item}}">{{ item }}</a></td>
		
	</tr>
	{% endfor %}
</table>
